<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/grupos}" th:object="${novoGrupo}" method="post">
    Nome: <input type="text" th:field="${novoGrupo.nome}"/><br/>
    Ingredientes
    <select th:field="${novoGrupo.ingredientes}" multiple="multiple" id="ingredientes" name="ingredientes[]">
        <option th:each="i: ${ingredientes}" th:value="${i}" th:text="${i.nome}"></option>
    </select><br/>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
<table border="2px solid black">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="grupo : ${grupos}">
        <td th:text="${grupo.id}"></td>
        <td th:text="${grupo.nome}"></td>
        <td><a th:href="@{'/grupos/' + ${grupo.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
        <td><a th:href="${grupo.id}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
    </tr>

</table>
</body>
</html>