<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="${'/ingredientes/' + {ingrediente.id}}" th:object="${ingrediente}" method="POST">
    Identificador: <input type="text" th:field="*{id}" readonly="readonly"/><br/>
    Nome: <input type="text" th:field="*{nome}"/><br/>
    Valor Compra: <input type="text" th:field="*{vlr_compra}"/><br/>
    Valor Venda:<input type="text" th:field="*{vlr_venda}"/><br/>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>
</body>
</html>