<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/ingredientes}" th:object="${novoIngrediente}" method="post">
    Nome: <input type="text" th:field="${novoIngrediente.nome}"/><br/>
    Valor Compra: <input type="number" th:field="${novoIngrediente.vlr_compra}"/><br/>
    Valor Venda:<input type="number" th:field="${novoIngrediente.vlr_venda}"/><br/>
    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>

<table border="2px solid black">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Valor Compra</th>
        <th>Valor Venda</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="ingrediente : ${ingredientes}">
        <td th:text="${ingrediente.id}"></td>
        <td th:text="${ingrediente.nome}"></td>
        <td th:text="${ingrediente.vlr_compra}"></td>
        <td th:text="${ingrediente.vlr_venda}"></td>
        <td><a th:href="@{'/ingredientes/' + ${ingrediente.id}}"><button><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a></td>
        <td><form th:action="@{'/ingredientes/{id}'(id=${ingrediente.id})}" th:method="delete" >
            <input type="hidden" name="_method" value="delete" />
            <button><i class="fa fa-trash" aria-hidden="true"></i></button>
        </form></td>
    </tr>

</table>
</body>
</html>